  
  /*slideshow*/
.index_slides{
}

.slides_container {
	
	
}

.prev{
	z-index:				5;
	display:				block;
	float:					right;
	margin-right:			10px;
}
.next{
	z-index:				5;
	display:				block;
	float:					right;
}

.custom-pagination{
	margin: 7px 0 0;
	float:					right;
	margin-right:			10px;
      list-style: none;
}

.custom-pagination li{
	list-style:				none;
	float: left;
    margin: 0 1px;
}

.custom-pagination li a{
	display:				block;
	background-image: url(../img/pagDeactive.png);
	background-position: 0 0;
	width:					14px;
	height:					0;
	padding-top:			11px;
	float:					left;
	overflow:				hidden;
}
     

.custom-pagination li.current a {
	display:				block;
	background-image: url(../img/pagActive.png);
	width:					14px;
	background-position: 0 0;
	height:					0;
	padding-top:			11px;
	float:					left;
	overflow:				hidden;
}

@media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
	  .index_slides,
      .index_slides .work1 {
        width: auto
      }
    }

    /* For smartphones */
    @media only screen and (max-width: 767px)  {
      .index_slides,
	  .index_slides .work1 {
        width: 300px
      }
    }
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {
      .index_slides,
	  .index_slides .work1{
        width: 420px
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .index_slides,
	  .index_slides .work1{
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .index_slides,
	  .index_slides .work1{
        width: 830px
      }
    }
	
	.ebook
	{
	max-width: 100%;
	height: auto;
	}
  
  
  
  
  


