#slides {
  display: none
}

#slides .slidesjs-navigation {
  margin-top:5px;
}

a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
  background-image: url(img/btns-next-prev.png);
  background-repeat: no-repeat;
  display:block;
  width:8px;
  height:13px;
  overflow: hidden;
  text-indent: -9999px;
  float: left;
  margin-right:5px;
}

a.slidesjs-next {
  margin-right:10px;
  background-position: -7px 0;
}

a:hover.slidesjs-next {
  background-position: -7px -11px;
}

a.slidesjs-previous {
  background-position: 0 0;
}

a:hover.slidesjs-previous {
  background-position: 0 0 px;
}

a.slidesjs-play {
  width:13px;
  background-position: -14px 0;
}

a:hover.slidesjs-play {
  background-position: -14px -13px;
}

a.slidesjs-stop {
  width:13px;
  background-position: -25px 0;
}

a:hover.slidesjs-stop {
  background-position: -25px -13px;
}

.slidesjs-pagination {
  margin: 7px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 11px;
  background-image: url(img/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  /*background-position: 0 -13px*/
  background-position: 0 -9px
}

.slidesjs-pagination li a:hover {
  background-position: 0 -9px
}

#slides a:link,
#slides a:visited {
  color: #333
}

#slides a:hover,
#slides a:active {
  color: #9e2020
}

.navbar {
  overflow: hidden
}

.slider-wrapper {
  
}

/* For tablets & smart phones */
@media (max-width: 767px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .slider-wrapper {
    width: auto
  }
}

/* For smartphones */
@media only screen and (max-width: 767px)  {
  .slider-wrapper {
    width: 300px
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .slider-wrapper {
    width: 420px
  }
}

/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 979px) {
  .slider-wrapper {
    width: 724px
  }
}

/* For larger displays */
@media (min-width: 1200px) {
  .slider-wrapper {
    width: 830px
  }
}

.ebook
{
	max-width: 100%;
	height: auto;
}

